extends _userBase 
block content 
    //- div(style='margin:30px;').common-style
    //-     div(style='width:60%;margin:auto;margin-bottom:2%;') 
    //-         h5(style='float:left;text-decoration:underline;font-weight:bold;') MAYANK SHEKHAR
    //-             i(class='fa fa-trash w3-xlarge' name='remove' style='cursor:pointer;margin-left:30px;')
    //-         table
    //-             tr 
    //-                 th(style='background-color:white;color:black;') Institute
    //-                 th(style='background-color:white;color:black;') Particulars
    //-                 th(style='background-color:white;color:black;') Description
    //-                 th(style='background-color:white;color:black;') Amount
    //-                 th(style='background-color:white;color:black;') Action
    //-             tr
    //-                 td A B C School
    //-                 td MAY-2021
    //-                 td Fees for may 2021
    //-                 td $100
    //-                 td 
    //-                     i(class='fa fa-trash w3-large' name='removeFromCart' style='cursor:pointer;')
    //-             tr
    //-                 td A B C School
    //-                 td MAY-2021
    //-                 td Fees for may 2021
    //-                 td $100
    //-                 td 
    //-                     i(class='fa fa-trash w3-large' name='removeFromCart' style='cursor:pointer;')
    //-             tr 
    //-                 td 
    //-                 td 
    //-                 td Total
    //-                 td $200
    //-     div(style='width:60%;margin:auto;margin-bottom:2%;') 
    //-         h5(style='float:left;text-decoration:underline;font-weight:bold;') MAYANK SHEKHAR
    //-             i(class='fa fa-trash w3-xlarge' name='removeFromCart' style='cursor:pointer;margin-left:30px;')
    //-         table
    //-             tr 
    //-                 th(style='background-color:white;color:black;') Institute
    //-                 th(style='background-color:white;color:black;') Particulars
    //-                 th(style='background-color:white;color:black;') Description
    //-                 th(style='background-color:white;color:black;') Amount
    //-                 th(style='background-color:white;color:black;') Action
    //-             tr
    //-                 td A B C School
    //-                 td MAY-2021
    //-                 td Fees for may 2021
    //-                 td $100
    //-                 td 
    //-                     i(class='fa fa-trash w3-large' name='removeFromCart' style='cursor:pointer;')
    //-             tr
    //-                 td A B C School
    //-                 td MAY-2021
    //-                 td Fees for may 2021
    //-                 td $100
    //-                 td 
    //-                     i(class='fa fa-trash w3-large' name='removeFromCart' style='cursor:pointer;')
    //-             tr 
    //-                 td 
    //-                 td 
    //-                 td Total
    //-                 td $200
    //-     div(style='width:60%;margin:auto;margin-bottom:2%;') 
    //-         hr
    //-         table
    //-             tr
    //-                 td
    //-                 td
    //-                 td Total 
    //-                 td $400
    //-             tr
    //-                 td 
    //-                 td
    //-                 td Tax
    //-                 td $4
    //-             tr 
    //-                 th(style='background-color:white;color:black;') 
    //-                 th(style='background-color:white;color:black;') 
    //-                 th(style='background-color:white;color:black;') Net Payble
    //-                 th(style='background-color:white;color:black;') $404
            
                    
    //-     input(type="button", style='width:200px;margin-top:2%;' value="Continue to pay 408")
    div(style='margin:30px;').common-style
        - totalAmount = 0
        each cart in cartDetails
                //- - if(cart.institute.fees.length)
                div(style='width:60%;margin-bottom:2%;') 
                    h5(style='float:left;text-decoration:underline;font-weight:bold;' id=`${cart.student.id}`)=cart.student.name
                        i(class='fa fa-trash w3-xlarge' name='remove' style='cursor:pointer;margin-left:30px;')
                    table
                        tr 
                            th(style='background-color:white;color:black;') Institute
                            //- th(style='background-color:white;color:black;') Particulars
                            th(style='background-color:white;color:black;') Description
                            th(style='background-color:white;color:black;') Amount
                            th(style='background-color:white;color:black;') Action
                        - let amount = 0
                        each fee in cart.institute.fees
                            - amount += fee.amount
                            tr
                                td=cart.institute.name
                                //- td=fee.name
                                td=`${fee.name, fee.desc}`
                                td=`₹ ${fee.amount}`
                                td 
                                    i(class='fa fa-trash w3-large' name='removeFromCart' style='cursor:pointer;')
                        tr 
                            td 
                            //- td 
                            td Total
                            td=`₹ ${amount}`
                        - totalAmount += amount
            
        div(style='width:60%;margin:auto;margin-bottom:2%;') 
            hr
            table
                tr
                    td
                    td
                    td Total 
                    td=`₹ ${totalAmount}`
                - tax = 0.02*totalAmount
                tr
                    td 
                    td
                    td Tax
                    td=`₹ ${tax}`
                - netPayble = totalAmount + tax
                tr 
                    th(style='background-color:white;color:black;') 
                    th(style='background-color:white;color:black;') 
                    th(style='background-color:white;color:black;') Net Payble
                    th(style='background-color:white;color:black;')=`₹ ${netPayble}`
            
                    
        input#checkout(type="button" name='abcdgn' style='width:200px;margin-top:2%;' value=`Continue to pay ₹ ${netPayble}`)
