extends _userBase 
block content 
  section.main-content
      - if(user.students.length)
          h2(style='text-align:center;color:green;') Linked students with this account are displayed below
          .associated-students.common-style(style='background-color:#f9f9f9;')
            #added-students(style='text-align:none;')
              h4(style='text-align:center;color:green;') Select student(s) for which you want to pay fees 
              each stud in user.students 
                .card
                  - if (stud.gender === 'M')
                    img(src='/img/male_avatar.png' alt='Avatar' style='width:100%')
                  - else 
                    img(src='/img/female_avatar.png' alt='Avatar' style='width:100%')
                  .container
                    h3.student-name(style='text-align:left;')=`${stud.name}`
                    h5.student-class(style='text-align:left;')=`${stud.class} (${stud.section})`
                    br
                    h5.student-school(id=`${stud.institute._id}` style='text-align:left;')=`${stud.institute.name} ,`
                    h5.std-schl-add(style='text-align:left;')=`${stud.institute.addressDistrict}`
                    //- input.std-chkbx(type='checkbox' name='card')
                    //- br
                    h5.std-paid=`Fees Paid Upto : ${stud.feesPaidTill}`
                    input(type="button" id=`${stud._id}` name='add-to-cart' value="Add for Payment")
                //- .student-card(id=`${stud._id}`)
                  h3.student-name=`${stud.name}`
                  h5.student-class=`${stud.class} (${stud.section})`
                  br
                  h5.student-school(id=`${stud.institute._id}`)=`${stud.institute.name} ,`
                  br
                  h5.std-schl-add=`${stud.institute.addressDistrict}`
                  input.std-chkbx(type='checkbox' name='card')
                  br
                  h5.std-paid=`Fees Paid Upto : ${stud.feesPaidTill}`
                  br
                  //- button More details
                  //- .details(style='display:none ;')
                    p=`Father's Name : ${stud.father}` 
                    p=`Mother's Name : ${stud.mother}` 
                    p=`Roll Number : ${stud.rollNo}`
                    p=`Registration No. : ${stud.registrationNo}` 
            img(src="/img/plus.png" id='addStudent-img' alt="Add students")
            .common-style.proceed-to-payment
              input(type="button" class='checkout' value="Click to Continue" style="width:150px;") 
      - else 
          h2(style='text-align:center;color:red;') No linked students. Please link by clicking on PLUS icon below
          .common-style
            img(src="/img/plus.png" id='addStudent-img' alt="Add students")
            h4(style='margin-top:0;') Add Student